html,
body {
  padding: 0;
  margin: 0;
}

.calendar {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 100vw;
}

.calendar-month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-weight: 500;
  position: sticky;
  top: 54px;
  background-color: #dff;
}


.calendar-month-switch:hover {
  background-color: #eee;
}

.calendar-title {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-bottom: 8px;
  position: sticky;
  top: 0;
  background: #fff;
  padding: 16px 0;
  font-weight: 700;
  z-index: 999;
}

.calendar-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-week {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}
